body {
  background-color: black;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.character-img {
  width: 200px;
}

.character-container {
  display: flex;
  justify-content: space-evenly;
}

.character-card {
  padding: .5em;
  border: solid white;
  border-radius: 5px;
}

.character-card:hover{
  background-color: #80808085;
  cursor: pointer;
}

.character-name {
  color: #d7850b;
}

.error-msg {
  color: red;
}

.film-list {
  color: #d7850b;
}

.prompt {
  color: #d7850b;
}
