body {
  background-image: url("./images/starry-sky.jpg")
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.img-fluid {
  width: 200px;
}

.character-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.character-card {
  padding: .5em;
  border: solid white;
  border-radius: 5px;
}

.character-card:hover{
  background-color: #80808085;
  cursor: pointer;
}

.character-name {
  margin-top: .5em;
  color: #d7850b;
}

.error-msg {
  color: red;
}

.film-list {
  color: #d7850b;
  margin: 0 1em;
}

hr {
  margin-top: .5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(69, 64, 55);
}

.prompt {
  margin: .5em 1em;
  color: #d7850b;
}

.list-header {
  background-color: #ffe4c447;
  margin-bottom: 0.6em;
  margin-top: 1em;
}

@media screen and (max-width: 464px) {
  .character-container {
    flex-wrap: wrap;
  }
}
